
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />


@using (Html.BeginForm())
{
    <div class="body-content" style="vertical-align:middle" >
        <table class="tab-content" align="center">
            <td class="f1_label">JMBG:</td>
            <td><input type="number" required @Html.TextBox("name")</td>
            <td class="f1_label">PIN:</td>
            <td><input type="number" required @Html.TextBox("password") </td>
            <td><input type="submit"class="btn btn-primary " value="Login"  /></td>
            <td class=""><a href="/AdminLogin/Login">Admin Login</a></td>
        </table>
    </div>
}


