@{
    ViewBag.Title = "AdminIndex";
    Layout = null;
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<body>


    <div class="container">
        <table class="tab-content"align="center">
            <tr>
                <td>                  
                    <a class="btn btn-primary " style="width:100%" href="/Ocenes/Index" role="button">Ocene</a><br />
                </td>
                <td>                    
                    <a class="btn btn-primary " style="width:100%" href="/Adresas/Index" role="button">Adrese</a>
                </td>
                <td>                    
                    <a class="btn btn-primary " style="width:100%" href="/Kontakts/Index" role="button">Kontakti</a><br />
                </td>
                <td>
                    <a class="btn btn-primary " style="width:100%" href="/Email_Adresa/Index" role="button">Emailovi</a><br />
                </td>
                <td>
                    <a class="btn btn-primary " style="width:100%" href="/Uceniks/Index" role="button">Ucenici</a>
                </td>
            </tr>
        </table>
    </div>

</body>

